$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-largest: 1504px;


$min_width: 375px;
$max_width: 1440px;
$min_font: 16px;
$max_font: 24px;


$text-light: #fff;
$dark-gray: hsl(0, 0%, 59%);
$very-dark-gray: hsl(0, 0%, 17%);